In [1]:
a = 3  # define variable a and print
print(a)

3

In [ ]:
id(a) # id(a) returns the unique identifier (memory address) of the object a as an integer.

140709119937016

In [ ]:
hex(id(a)) # converts the integer memory address into a hexadecimal format (which is how memory addresses are typically represented):
# ahexadecimal ddress location where the value of a is stored

'0x7ff9651c49f8'

In [4]:
a = a+ 1
print(a)

4

In [ ]:
id(a) # Unique identifier (memory address) of the object a as an integer is changed. 
# a is pointing to a different location now
# python removes unused memory (previous memory location of a), called garbage collection

140709119937048

In [ ]:
hex(id(a)) # converts the integer memory address into a hexadecimal format (which is how memory addresses are typically represented):

'0x7ff9651c4a18'

In [ ]:
# so integer (in this example, the variable a) is immutable

In [10]:
list1 =["a", "b", "c", "1", "2"]
print(list1)

['a', 'b', 'c', '1', '2']

In [11]:
id(list1)

1529913376448

In [12]:
hex(id(list1))

'0x16435f17ec0'

In [15]:
list1.append("BNG")

In [ ]:
id(list1) # # see, address location of list1 is not changed

1529913376448

In [ ]:
hex(id(list1))  # see, hexadecimal address location of list1 is not changed
# list is dynamic and will keep expanding its memory allocation

'0x16435f17ec0'

In [ ]:
# So the list is mutable

# Tuple

In [18]:
tuple1 = ("Byju", "1234")
print(type(tuple1))

<class 'tuple'>

In [19]:
id(tuple1)

1529913431232

In [20]:
hex(id(tuple1))

'0x16435f254c0'

In [ ]:
tuple1[0] = "C"  # ❌ This will raise: TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [ ]:
print(tuple1) # tuples are mutable

('Byju', '1234')

In [23]:
tuple1 += ("new",)  # ✅ Creates a new tuple, not modifying the original

In [24]:
print(tuple1)

('Byju', '1234', 'new')

In [25]:
id(tuple1)

1529921041984

In [26]:
hex(id(tuple1))

'0x16436667640'

In [ ]:
# What happened with +=?

# That creates a new tuple by concatenating the old one with another.

# It doesn’t change the original — it just reassigns tuple1.

In [ ]:
# Workarounds if you need to "add" items:
# 1. Convert to a list ➜ Modify ➜ Convert back:

In [36]:
tuple1 = ("B", "123")
print(id(tuple1))
print(hex(id(tuple1)))
temp = list(tuple1)
temp.append("new")
tuple1 = tuple(temp)
print(tuple1)  # Output: ('B', '123', 'new')
print(id(tuple1))  # address changed
print(hex(id(tuple1)))  # address changed. Tuple is immutable

1529921389632
0x164366bc440
('B', '123', 'new')
1529921043392
0x16436667bc0

In [33]:
 # Concatenate manually:
tuple01 = ("B", "123")
tuple02 = tuple1 + ("new",)
print(tuple02)  # Output: ('B', '123', 'new')

('B', '123', 'new')

In [37]:
print(id(tuple01))
print(hex(id(tuple01)))

1529920993280
0x1643665b800

In [38]:
print(id(tuple02))
print(hex(id(tuple02)))

1529921339200
0x164366aff40

In [ ]:
# So what you are learning is that data types can be mutable and immutable
# List is mutable
# Integer, Float, Tuple etc are immutable (we cannot change value in same address [that is once after it is defined])
# When we use tuple? say when you store information that you donot want to change
# example: SSN, Voters ID, Bank account# etc.

ORDERED AND UNORDERED DATA TYPES

In [ ]:
# List is ordered datatype
# Set is unordered datatype with unique collection of elements

# list
mylist1 = [4, 2, 3,-1 ,5, 0]
print(mylist1) # maintains the ordered in which is data is passed and stored

[4, 2, 3, -1, 5, 0]

In [ ]:
set1 ={4, 2, 3,-1 ,5, 0}
print(set1)  # set is unorderd
set1.add(10)
print(set1)
set1.add(4) # added 4 again, but only retain unique values
print(set1)

{0, 2, 3, 4, 5, -1}
{0, 2, 3, 4, 5, 10, -1}
{0, 2, 3, 4, 5, 10, -1}

In [45]:
# convert set to list
set2 = {10, 1, 3, 5, 2,-10, -1 }
print(set2)

set2 = list(set2)
print(set2)

{1, 2, 3, 5, -10, 10, -1}
[1, 2, 3, 5, -10, 10, -1]

In [48]:
# list can have duplicate values, 
# convert to set and then to list again to remove duplicates


list001 = [10, 1, 3, 5, 10, 1, 3, 5,  2,-10, -1 ]
print(list001)
set001 = set(list001)
print(set001)
list001=list(set001)
print(list001)

[10, 1, 3, 5, 10, 1, 3, 5, 2, -10, -1]
{1, 2, 3, 5, 10, -10, -1}
[1, 2, 3, 5, 10, -10, -1]

In [49]:
#Extend function with list
a = [1,2,3]
b = ["hi", "hello"]
print(id(a))
a.extend(b)
print(id(a))
print(a)

1529921245056
1529921245056
[1, 2, 3, 'hi', 'hello']

In [50]:
#Extend function does not work with set
a = {1,2,3}
b = {"hi", "hello"}
print(id(a))
a.extend(b)
print(id(a))
print(a)

1529920784640

AttributeError: 'set' object has no attribute 'extend'

In [51]:
#update function works with set
a = {1,2,3}
b = {"hi", "hello"}
print(id(a))
a.update(b)
print(id(a))
print(a)

1529920782400
1529920782400
{1, 2, 3, 'hi', 'hello'}

In [ ]:
# There is no extend or update function with tuple becaue tuple is immutable

# Dictionary

In [ ]:
emp_details = {1: ["monal", "india"],
               2: ["lucas", "brazil"],
               3: ["anas", "dubai"],
               4: ["riyan", "sharjah"]}
# dictionary is key-value pairs
# keys must be unique

In [55]:
print(type(emp_details)) # dictionary is key-value pair

<class 'dict'>

In [56]:
print(emp_details)

{1: ['monal', 'india'], 2: ['lucas', 'brazil'], 3: ['anas', 'dubai'], 4: ['riyan', 'sharjah']}

In [57]:
print(emp_details[4])

['riyan', 'sharjah']

In [58]:
emp_details[4][0] = "Riyan"
print(emp_details[4])

['Riyan', 'sharjah']

In [ ]:
emp_details[4][0] = "Byju Govindan"
'print(emp_details[4])

['Byju Govindan', 'sharjah']

In [62]:
emp_details01 = {
    "001": {
        "name": "monal",
        "ph. no": 123456789,
        "address": "india",
        "mentor_details": {
            "beginner courses": ["Data Science and genai"],
            "advanced_course": ["Computer vision"]
        }
    },
    "002": {
        "name": "krish",
        "ph. no": 123456789,
        "address": "india",
        "mentor_details": {
            "beginner courses": ["Data Science and genai"],
            "advanced_course": ["Agentic ai"]
        }
    },
    "003": {
        "name": "mayank",
        "ph. no": 123456789,
        "address": "india",
        "mentor_details": {
            "beginner courses": ["Data engg and Data Science"],
            "advanced_course": ["Data structures"]
        }
    }
}

In [63]:
print(emp_details01)

{'001': {'name': 'monal', 'ph. no': 123456789, 'address': 'india', 'mentor_details': {'beginner courses': ['Data Science and genai'], 'advanced_course': ['Computer vision']}}, '002': {'name': 'krish', 'ph. no': 123456789, 'address': 'india', 'mentor_details': {'beginner courses': ['Data Science and genai'], 'advanced_course': ['Agentic ai']}}, '003': {'name': 'mayank', 'ph. no': 123456789, 'address': 'india', 'mentor_details': {'beginner courses': ['Data engg and Data Science'], 'advanced_course': ['Data structures']}}}

In [64]:
print(emp_details01.keys())

dict_keys(['001', '002', '003'])

In [67]:
list((emp_details01.keys()))

['001', '002', '003']

In [ ]:
type()

### list has append and extend
### set has add and update
### dictionary is key and value pair
### dictionary has update function

In [65]:
print(emp_details01.values())

dict_values([{'name': 'monal', 'ph. no': 123456789, 'address': 'india', 'mentor_details': {'beginner courses': ['Data Science and genai'], 'advanced_course': ['Computer vision']}}, {'name': 'krish', 'ph. no': 123456789, 'address': 'india', 'mentor_details': {'beginner courses': ['Data Science and genai'], 'advanced_course': ['Agentic ai']}}, {'name': 'mayank', 'ph. no': 123456789, 'address': 'india', 'mentor_details': {'beginner courses': ['Data engg and Data Science'], 'advanced_course': ['Data structures']}}])

In [68]:
my_dict = {"name": "Monal"}
my_dict["age"] = 25  # This adds a new key 'age' with value 25

# You can also use .update() to add multiple items:

my_dict.update({"city": "Delhi", "profession": "Engineer"})

In [69]:
print(my_dict)

{'name': 'Monal', 'age': 25, 'city': 'Delhi', 'profession': 'Engineer'}

# Loops

In [72]:
for i in range(1, 100):
    print("2", "X", i, "=", 2 * i)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
2 X 11 = 22
2 X 12 = 24
2 X 13 = 26
2 X 14 = 28
2 X 15 = 30
2 X 16 = 32
2 X 17 = 34
2 X 18 = 36
2 X 19 = 38
2 X 20 = 40
2 X 21 = 42
2 X 22 = 44
2 X 23 = 46
2 X 24 = 48
2 X 25 = 50
2 X 26 = 52
2 X 27 = 54
2 X 28 = 56
2 X 29 = 58
2 X 30 = 60
2 X 31 = 62
2 X 32 = 64
2 X 33 = 66
2 X 34 = 68
2 X 35 = 70
2 X 36 = 72
2 X 37 = 74
2 X 38 = 76
2 X 39 = 78
2 X 40 = 80
2 X 41 = 82
2 X 42 = 84
2 X 43 = 86
2 X 44 = 88
2 X 45 = 90
2 X 46 = 92
2 X 47 = 94
2 X 48 = 96
2 X 49 = 98
2 X 50 = 100
2 X 51 = 102
2 X 52 = 104
2 X 53 = 106
2 X 54 = 108
2 X 55 = 110
2 X 56 = 112
2 X 57 = 114
2 X 58 = 116
2 X 59 = 118
2 X 60 = 120
2 X 61 = 122
2 X 62 = 124
2 X 63 = 126
2 X 64 = 128
2 X 65 = 130
2 X 66 = 132
2 X 67 = 134
2 X 68 = 136
2 X 69 = 138
2 X 70 = 140
2 X 71 = 142
2 X 72 = 144
2 X 73 = 146
2 X 74 = 148
2 X 75 = 150
2 X 76 = 152
2 X 77 = 154
2 X 78 = 156
2 X 79 = 158
2 X 80 = 160
2 X 81 = 162
2 X 82 = 164
2 X 83 = 166
2 X 84 = 168
2 X 85 = 170
2 X 86 = 172
2 X 87 = 174
2 X 88 = 176
2 X 89 = 178
2 X 90 = 180
2 X 91 = 182
2 X 92 = 184
2 X 93 = 186
2 X 94 = 188
2 X 95 = 190
2 X 96 = 192
2 X 97 = 194
2 X 98 = 196
2 X 99 = 198