## Loops

#Iterator:
objects that can be iterated, eg: lists,  tuples, sets, dictionaries

In [ ]:
fruits = ["apple", "orange", "banana"]
iterables = iter(fruits)

# fruits is a list ‚Äî an iterable.

# iterables = iter(fruits) creates an iterator object that you can loop through one element at a time.

In [5]:
print(next(iterables))  # Output: 'apple'
print(next(iterables))  # Output: 'orange'
print(next(iterables))  # Output: 'banana'
print(next(iterables))  # ‚ùå Raises StopIteration (no more items)

apple
orange
banana

StopIteration:

In [8]:
# or loop safely:
for fruit in fruits:
    print(fruit)
# That loop picks up from wherever iterables left off (not from start if you've already used next()).

apple
orange
banana

In [12]:
print("Traversing started")
for fruit in fruits:
    print (fruit)
print("Traversing completed")
print(fruit)

Traversing started
apple
orange
banana
Traversing completed
banana

In [13]:
table_till =[1,2,3,4,5,6,7,8,9,10]
for i in table_till:
    print(2*i)

2
4
6
8
10
12
14
16
18
20

#### üß∫ fruits is an iterable
#### An iterable is any object that you can loop over with a for loop.

#### Lists, tuples, strings, sets, and dictionaries are all iterables.

#### Behind the scenes, Python calls iter(fruits) to get an iterator.

#### fruits = ["apple", "grapes", "pear"]  # ‚úÖ This is the iterable
#### üîÑ iterator is what iter(fruits) returns
#### An iterator is an object that keeps track of where it is in a #### sequence.

#### It has a method __next__() that returns the next item and raises #### StopIteration when done.


#### iter_obj = iter(fruits)  # ‚úÖ This is the iterator

#### print(next(iter_obj))  # 'apple'
#### print(next(iter_obj))  # 'grapes'
#### print(next(iter_obj))  # 'pear'
#### üß† In your for loop:

#### for fruit in fruits:
####    print(fruit)
#### Here‚Äôs what actually happens behind the scenes:

#### Python calls iter(fruits) ‚Äî creates an iterator.

#### It repeatedly calls next() on that iterator until it‚Äôs exhausted.

#### Each item is assigned to fruit, and print(fruit) runs.

In [14]:
for i in range(1, 11, 1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [20]:
for i in range(10):
    print(i)
    #0 is by default start
    #step size is 1 by default

0
1
2
3
4
5
6
7
8
9

In [21]:
for i in range(5, 51, 5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [ ]:
for i in 1, 3, 4, 5, 7, 10:
    print("hello")

hello
hello
hello
hello
hello
hello

In [32]:
emp_details = {1: ["monal", "india"],
               2: ["lucas", "brazil"],
               3: ["anas", "dubai"],
               4: ["riyan", "sharjah"]}
print(emp_details)
print(emp_details.keys())
print(emp_details.values())

{1: ['monal', 'india'], 2: ['lucas', 'brazil'], 3: ['anas', 'dubai'], 4: ['riyan', 'sharjah']}
dict_keys([1, 2, 3, 4])
dict_values([['monal', 'india'], ['lucas', 'brazil'], ['anas', 'dubai'], ['riyan', 'sharjah']])

In [24]:
for key in emp_details.keys():
    print(emp_details[key])

['monal', 'india']
['lucas', 'brazil']
['anas', 'dubai']
['riyan', 'sharjah']

In [25]:
print("hello")

hello

In [ ]:
print("hello", "hi")

hello hi

In [ ]:
print("hello", "hi", end="") # by default separator is space

hello hi

In [28]:
print("hello", end ="    ")

hello

In [35]:
print("hello", "hi", end="\t")

hello hi

In [ ]:
print("hello","hi", "1", "2") 
print("hi") # by default, cursor goes to new line
print("hi")

hello hi 1 2
hi
hi

In [ ]:
print("hello","hi", "1", "2", end="")  
print("hi") # end="" means cursor stays at the end of first line
print("hi")

hello hi 1 2hi
hi

In [ ]:
#  If you want to print "hello" and then "hi" using end:
print("hello", end='\n')  # Ends with newline (default behavior)
print("hi")

hello
hi

In [31]:
# If you want both words in one print() call, with a custom end:
print("hello", "hi", end='!')  # Output: hello hi!

hello hi!

In [ ]:
# Rule of thumb:
# All positional arguments (like "hello", "hi") must come before keyword arguments like end=.

# print() syntax:

# print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)

##### star problem statement
##### Write a Python program that takes an integer n as input and #### prints a right-angled triangle of stars like this:

##### If n = 5, output should be:

*
**
***
****
*****

In [33]:
n = int(input("Enter number of rows: "))

for i in range(1, n + 1):
    print("*" * i)

*
**
***
****
*****

In [40]:
# Inverted Right-Angled Triangle

n = int(input("Enter number of rows: "))

for i in range(n, 0, -1):
    print("*" * i)

*****
****
***
**
*

In [41]:
n = int(input("Enter number of rows: "))

for i in range(1, n + 1):
    print(" " * (n - i) + "*" * i)

    *
   **
  ***
 ****
*****

In [43]:
#pyramid pattern
n = int(input("Enter number of rows: "))

for i in range(1, n + 1):
    spaces = " " * (n - i)
    stars = "*" * (2 * i - 1)
    print(spaces + stars)

    *
   ***
  *****
 *******
*********

In [44]:
#diamond pattern
n = int(input("Enter number of rows (for half): "))

# Top half (pyramid)
for i in range(1, n + 1):
    spaces = " " * (n - i)
    stars = "*" * (2 * i - 1)
    print(spaces + stars)

# Bottom half (inverted pyramid)
for i in range(n - 1, 0, -1):
    spaces = " " * (n - i)
    stars = "*" * (2 * i - 1)
    print(spaces + stars)

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

üíé Diamond Pattern with Name or Emoji Instead of Stars
We'll:

Ask the user to input a name or emoji (e.g., "‚≠ê" or "Monal").

Replace stars with that input.

Center everything for symmetry.

In [46]:
name = input("Enter a name or emoji to use in the pattern: ")
n = int(input("Enter number of rows (for half of the diamond): "))
# for example, copy and paste üíé as name input
# for example, enter n = 7

# Top half
for i in range(1, n + 1):
    spaces = " " * (n - i)
    symbols = (name + " ") * (2 * i - 1)
    print(spaces + symbols.strip())

# Bottom half
for i in range(n - 1, 0, -1):
    spaces = " " * (n - i)
    symbols = (name + " ") * (2 * i - 1)
    print(spaces + symbols.strip())

      üíé
     üíé üíé üíé
    üíé üíé üíé üíé üíé
   üíé üíé üíé üíé üíé üíé üíé
  üíé üíé üíé üíé üíé üíé üíé üíé üíé
 üíé üíé üíé üíé üíé üíé üíé üíé üíé üíé üíé
üíé üíé üíé üíé üíé üíé üíé üíé üíé üíé üíé üíé üíé
 üíé üíé üíé üíé üíé üíé üíé üíé üíé üíé üíé
  üíé üíé üíé üíé üíé üíé üíé üíé üíé
   üíé üíé üíé üíé üíé üíé üíé
    üíé üíé üíé üíé üíé
     üíé üíé üíé
      üíé

In [ ]:
student_id =6
for i in range(1, 11, 1):
    if i ==student_id:
        continue   ## skips printing student id 6
    print("Student ID:", i)

Student ID: 1
Student ID: 2
Student ID: 3
Student ID: 4
Student ID: 5
Student ID: 7
Student ID: 8
Student ID: 9
Student ID: 10

In [ ]:
student_id =6
for i in range(1, 20, 1):
    if i ==student_id:
        continue   # skips printing student id 6
    if i >=10:
        break  # exits loop when student id is >=10
    print("Student ID:", i)

Student ID: 1
Student ID: 2
Student ID: 3
Student ID: 4
Student ID: 5
Student ID: 7
Student ID: 8
Student ID: 9

In [ ]:
#### Basic Syntax:

while condition:
    # code block to repeat
# The loop keeps running until condition becomes False.

# If the condition is never false, you get an infinite loop (unless broken manually).

In [47]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [52]:
i = 0
student_id = 6
while True:
    i += 1
    if i == student_id:
        continue  # skips printing 6
    if i >= 10:
        break     # exits loop
    print(i)

1
2
3
4
5
7
8
9

In [49]:
# Right-Angled Triangle of Stars
# n = int(input("Enter number of rows: "))
i = 1

while i <= n:
    print("*" * i)
    i += 1

*
**
***
****
*****

In [ ]:
# Inverted Right-Angled Triangle of Stars
n = int(input("Enter number of rows: "))
#i = 1

while n > 0:
    print("*" * n)
    n -= 1

*****
****
***
**
*

In [58]:
# Right-aligned triangle of stars
n = int(input("Enter number of rows: "))
i = 1

while i <= n:
    print(" " * (n - i) + "*" * i)
    i += 1

    *
   **
  ***
 ****
*****