In [13]:
a = 9
b =2

In [14]:
print(a + b)

11

In [15]:
print(type(1+1))

<class 'int'>

In [16]:
print(a*b)
type(print(a*b))

18
18

NoneType

In [23]:
print(a/b)
print(type(a/b))

4.5
<class 'float'>

In [ ]:
# floor division
print(a//b)
print(type(a//b))

4
<class 'int'>

In [ ]:
name = "Byju    "   # has 4 spaces on the right after the name
print(name)

Byju

In [ ]:
name = "Byju    "    # has 4 spaces on the right after the name
print(name.rstrip())  # strips 4 spaces on the right after the name and print only the name with out spaces

Byju

In [ ]:
len(name.rstrip()) # check to verify that the name has only 4 characters with out spaces after applying rstrip

4

In [ ]:
name1 ="    Byju" # has 4 spaces on the left before  the name 
print(name1.lstrip()) #  # strips 4 spaces on the left before  the name and print only the name with out spaces

Byju

In [ ]:
len(name1.lstrip()) #  # check to verify that the name1 has only 4 characters with out spaces after applying lstrip

4

In [ ]:
name2= "    Byju    "  # name with spaces at the begining and end. i.e.,  spaces on left and right.

In [37]:
len(name2.strip())

4

In [33]:
print(name2.strip())

Byju

In [ ]:
len(name2.strip()) # check to verify that the name2 has only 4 characters with out spaces after applying strip function

4

In [41]:
c = 2
d = 2

In [ ]:
c==d

True

In [43]:
c>d

False

In [44]:
c<d

False

In [45]:
c<=d

True